<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="preload" href="{{ site.url }}/styles/default.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ site.url }}/styles/default.css"></noscript>
    <script>
      {% include cssrelpreload.js %}
    </script>
    <link rel="preload" href="{{ site.url }}/fonts/nitti-light-v40-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ site.url }}/fonts/nitti-lightitalic-v40-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body {% if page.url != '/' %} warning="ERROR"{% endif %} tmp="{{ page.url }}">
    <div class="page hide">
      <div class="container-fluid">
