// main: default.less

@font-face {
  font-family: 'Nitti Light';
  font-display: block;
  src: url('../fonts/nitti-light-v40-webfont.eot');
  src: url('../fonts/nitti-light-v40-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/nitti-light-v40-webfont.woff2') format('woff2'),
       url('../fonts/nitti-light-v40-webfont.woff') format('woff'),
       url('../fonts/nitti-light-v40-webfont.ttf') format('truetype'),
       url('../fonts/nitti-light-v40-webfont.svg#Nitti_Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nitti Light Italic';
  font-display: block;
  src: url('../fonts/nitti-lightitalic-v40-webfont.eot');
  src: url('../fonts/nitti-lightitalic-v40-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/nitti-lightitalic-v40-webfont.woff2') format('woff2'),
       url('../fonts/nitti-lightitalic-v40-webfont.woff') format('woff'),
       url('../fonts/nitti-lightitalic-v40-webfont.ttf') format('truetype'),
       url('../fonts/nitti-lightitalic-v40-webfont.svg#Nitti_Light_Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'Nitti Normal';
//   font-display: block;
//   src: url('../fonts/nitti-normal-v40-webfont.eot');
//   src: url('../fonts/nitti-normal-v40-webfont.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/nitti-normal-v40-webfont.woff2') format('woff2'),
//        url('../fonts/nitti-normal-v40-webfont.woff') format('woff'),
//        url('../fonts/nitti-normal-v40-webfont.ttf') format('truetype'),
//        url('../fonts/nitti-normal-v40-webfont.svg#Nitti_Normal') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Nitti Grotesk';
//   font-display: block;
//   src: url('../fonts/nittigrotesk-bold.48e7f85-webfont.eot');
//   src: url('../fonts/nittigrotesk-bold.48e7f85-webfont.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/nittigrotesk-bold.48e7f85-webfont.woff2') format('woff2'),
//        url('../fonts/nittigrotesk-bold.48e7f85-webfont.woff') format('woff'),
//        url('../fonts/nittigrotesk-bold.48e7f85-webfont.ttf') format('truetype'),
//        url('../fonts/nittigrotesk-bold.48e7f85-webfont.svg#Nitti_Grotesk') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

.NittiLight { font-family: 'Nitti Light', Courier, Menlo, monospace; }
.NittiLightItalic { font-family: 'Nitti Light Italic', Courier, Menlo, monospace; }
// .NittiNormal { font-family: 'Nitti Normal', Courier, Menlo, monospace; }
// .NittiGrotesk { font-family: 'Nitti Grotesk', Courier, Menlo, monospace; }

.thin { font-weight: 100; }
.extra_light { font-weight: 200; }
.light { font-weight: 300; }
.regular { font-weight: 400; }
.medium { font-weight: 500; }
.semi_bold { font-weight: 600; }
.bold { font-weight: 700; }
.extra_bold { font-weight: 800; }
.black { font-weight: 900; }

.italic { font-style: italic; }
.normal { font-style: normal; }

@Black: #000000;
@Blue: #1206f9;
@White: #ffffff;

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
}

.fadeIn {
  .visible;

  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;

  -webkit-animation-duration: .5s;
          animation-duration: .5s;

  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeOut {
  .invisible;

  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;

  -webkit-animation-duration: .5s;
          animation-duration: .5s;

  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.show {
  display: block;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.visible {
  visibility: visible;
}
