// out: default.css, sourcemap: false, compress: true

@import url('base.less');

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

@media (min-width: 320px)  { html { body { .page { .container-fluid { > main { padding: 16px * 2; } } } } } }
@media (min-width: 768px)  { html { body { .page { .container-fluid { > main { padding: 16px * 4; } } } } } }
@media (min-width: 1024px) { html { body { .page { .container-fluid { > main { padding: 16px * 6; } } } } } }

html {
  background-color: fade(@anotherBlue, 80%);
  height: 100%; width: 100%;
  margin: 0;
  min-height: 100%; min-width: 100%;
  padding: 0;

  body {
    background-color: fade(@anotherBlue, 80%);
    height: 100%; width: 100%;
    margin: 0;
    padding: 0;

    .page {
      background-color: @White;
      height: 100%; width: 100%;
      z-index: 2;

      .container-fluid {
        padding-right: 0; padding-left: 0;

        > main {
          .NittiLight;
          .show;
          color: fade(@Black, 80%);
          font-size: 16px;
          letter-spacing: 0;
          line-height: 16px * 1.5;
          margin: 0 auto;
          position: relative;

          > div {

            &[lang="jp"] {
              font-family: 'Nitti Light'; .normal;

              a {

                &:hover {
                  font-family: 'Nitti Light Italic'; .normal;
                }

                &.external {
                  font-family: 'Nitti Light', Courier, Menlo, monospace; .normal;
                }
              }

              em, i {
                font-family: 'Nitti Light Italic'; .normal;
              }
            }
          }

          a {
            color: fade(@Black, 80%);
            position: relative;
            text-decoration: none;
            white-space: nowrap;


            &:hover {
              .NittiLightItalic;
              text-decoration: line-through;
            }

            &.external {
              margin: 0 -2px;
              padding: 0 2px; padding-right: 0.4em;

              &:after {
                background-repeat: no-repeat;
                background-size: contain;
                content: "↗";
                display: inline-block;
                height: auto; width: 0.4em;
                position: absolute; bottom: 0.2em; right: 0em;
                text-align: center;
              }
            }

            &[href="https://hkps.pool.sks-keyservers.net/pks/lookup?op=get&search=0x5a7588238476115c"] {
              margin: 0;
              padding: 0; padding-right: 0;

              &:after {
                .hide;
              }
            }
          }

          em, i {
            .NittiLightItalic; .normal;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }
}

::-moz-selection {
  background-color: @anotherBlue;
  color: @White;
}

::selection {
  background-color: @anotherBlue;
  color: @White;
}

.pilcrow {

  &:after {
    color: @anotherBlue;
    content: "❚";
    display: inline-block;
  }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
