// out: all.min.css, sourcemap: false, compress: true

@import url('base.less');

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

@media (min-width: 320px)  { html { body { .page { .container { > main { padding: 16px * 2; } } } } } }
@media (min-width: 768px)  { html { body { .page { .container { > main { padding: 16px * 4; } } } } } }
@media (min-width: 1024px) { html { body { .page { .container { > main { padding: 16px * 6; } } } } } }

html {
  height: 100%; width: 100%;
  margin: 0;
  min-height: 100%; min-width: 100%;
  padding: 0;

  body {
    background-color: @Blue;
    height: 100%; width: 100%;
    margin: 0;
    padding: 0;

    &[warning="ERROR"] {

      .page {

        .container {
          .vertical-align;

          > main {
            padding: 0;

            > a {
              .show;
              position: relative;

              img {
                .show;
                height: auto; width: 64%;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }

    .page {
      background-color: @White;
      height: 100%; width: 100%;
      transition: background 0.4s ease;
      z-index: 2;

      .container {
        padding-right: 0; padding-left: 0;

        > main {
          .NittiLight;
          .show;
          color: fade(@Black, 80%);
          font-size: 16px;
          letter-spacing: 0;
          line-height: 16px * 1.5;
          margin: 0 auto;
          position: relative;

          a {
            color: fade(@Black, 80%);
            position: relative;
            text-decoration: none;
            white-space: nowrap;

            &[title=":]"] {

              &:focus,
              &:hover {
                text-decoration: none;
              }
            }

            &:hover {
              .NittiLightItalic;
              text-decoration: line-through;
            }
          }

          em, i {
            .NittiLightItalic; .normal;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }
}

::-moz-selection {
  background-color: @Blue;
  color: @White;
}

::selection {
  background-color: @Blue;
  color: @White;
}

.pilcrow {
  color: @Blue;

  &:after {
    content: "❚";
    display: inline-block;
  }
}

.ccc {
  color: fade(@White, 80%) !important;
}

.aaa {
  color: @Blue !important;
}

.bbb {
  color: @White !important;
}

.aaa-bg {
  background-color: @Blue !important;
}

.bbb-bg {
  background-color: @White !important;
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
