// out: default.css, sourcemap: false, compress: true

@import url('base.less');

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

html {
  margin: 0;
  padding: 0;

  body {
    .source_code_pro;
    background-color: fadeOut(@Black, 90%);
    color: @Black;
    height: auto; width: 100%;
    margin: 0;
    padding: 0;

    a {
      .transition;
      cursor: pointer;
    }

    > .page {
      .clearfix;
      background-color: @White;

      > .container,
      > .container-fluid {
        padding-right: 0; padding-left: 0;

        > section {
          height: auto; width: 90%;
          margin: 0 auto;
          padding: 0;

          > .container,
          > .container-fluid {
            padding-right: 0; padding-left: 0;

            > .row {
              margin-right: 0; margin-left: 0;

              > div {
                margin-right: 0; margin-left: 0;
                padding-right: 0; padding-left: 0;

                h2 {
                  .source_sans_pro; .regular;
                  font-size: 1rem * 2.5;
                  line-height: (1rem * 2.5) * 2;
                  margin: 0;
                  padding: 0;
                }

                p {
                  .regular;
                  font-size: 1rem;
                  line-height: 1rem * 1.50;
                  margin: 0 0 1.75rem 0;
                  padding: 0;

                  a {
                    .transition;
                    color: @Black;
                    text-decoration: none;

                    &[href*="//"]:not([href*="juanma.xyz"]) {

                      &:after {
                        // .source_code_pro; .black;
                        // content: "↗";
                        // display: inline-block;
                        // font-size: 16px / 1.5;
                        // line-height: (16px / 1.5) * 2;
                        // margin-left: 2px;
                        // vertical-align: top;
                      }

                      &:hover {
                        color: @DeepLyonsBlue;
                        text-decoration: underline;
                      }

                      // > .oi {
                      //   display: inline-block;
                      //   font-size: 16px / 1.5;
                      //   margin: 0 16px / 8;
                      //   vertical-align: top;
                      //
                      //   -webkit-transform: rotate(45deg);
                      //      -moz-transform: rotate(45deg);
                      //        -o-transform: rotate(45deg);
                      //       -ms-transform: rotate(45deg);
                      //           transform: rotate(45deg);
                      // }
                    }

                    &:active,
                    &:visited {
                      color: @Black;
                      text-decoration: none;
                    }

                    &:focus,
                    &:hover {
                      color: @DeepLyonsBlue;
                      text-decoration: none;
                    }
                  }

                  b {
                    .semi_bold;
                  }
                }

                time {
                  .show;
                  .regular;
                  color: fadeOut(@Black, 20%);
                  font-size: 1rem / 1.333;
                  line-height: (1rem / 1.333) * 2;
                  margin: 0 0 (1rem / 1.333) * 8 0;
                  padding: 0;
                  text-transform: uppercase;
                }
              }
            }
          }
        }

        > footer {
          background-color: fadeOut(@Black, 90%);
          height: auto; width: 100%;
          margin: 0;
          padding: 1.75rem * 1.5 5%;

          > .container,
          > .container-fluid {
            padding-right: 0; padding-left: 0;

            > .row {
              margin-right: 0; margin-left: 0;

              > div {
                margin-right: 0; margin-left: 0;
                padding-right: 0; padding-left: 0;

                address {
                  .source_sans_pro; .light;
                  color: fadeOut(@Black, 60%);
                  font-size: 1rem / 1.333;
                  height: auto; width: 100%;
                  line-height: (1rem / 1.333) * 1.5;
                  margin: 0;
                  padding-right: 0; padding-left: 0;
                  text-align: center;

                  em {
                    .normal;
                    .show;
                    height: auto; width: 100%;

                    a {
                      color: fadeOut(@Black, 60%);
                      text-decoration: none;

                      &:active,
                      &:visited {
                        color: fadeOut(@Black, 60%);
                        text-decoration: none;
                      }

                      &:focus,
                      &:hover {
                        color: fadeOut(@Black, 40%);
                        text-decoration: none;
                      }

                      b {
                        .medium;
                      }
                    }
                  }
                }

                span {
                  .regular;
                  .show;
                  height: auto; width: 100%;

                  a {
                    color: fadeOut(@Black, 60%);
                    text-decoration: none;

                    &:active,
                    &:visited {
                      color: fadeOut(@Black, 60%);
                      text-decoration: none;
                    }

                    &:focus,
                    &:hover {
                      color: fadeOut(@Black, 40%);
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

@import url('xs.less');
@import url('sm.less');
@import url('md.less');
@import url('lg.less');

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
